<template>

    <div class="content">
        <div style="padding-bottom: 16px">
            <a-row type="flex" justify="space-between">
                <a-col :span="12">
                    <h4>Bievenid(a) {{ user.name }}</h4>
                </a-col>
            </a-row>
        </div>
    </div>

</template>

<script>


    export default {
        name: 'Home',
        components: {

        },
        data() {
            return {
               user: {}
            }
        },
        created() {
           this.user = this.$store.state.account.user;
        }
    }

</script>

<style lang='scss'>

</style>
