<template>
    <div class="container">
        <div class="content">
            <div class="top">
                <div class="header">
                    <span class="title">Konecta</span>
                </div>
                <div class="desc"></div>
            </div>
            <div class="login">
                <a-card :body-style="{padding: '20px 24px 8px'}" class="card-login" :bordered="false">
                    <a-form @submit="onSubmit" :autoFormCreate="(form) => this.form = form">
                        <h2 class="title">Iniciar sesión</h2><br>
                        <a-alert type="error" :closable="true" v-show="error" :message="error" showIcon
                            style="margin-bottom: 24px;" />
                        <a-form-item fieldDecoratorId="email"
                            :fieldDecoratorOptions="{rules: [{ required: true, message: 'El campo email es requerido', whitespace: true}]}">
                            <a-input size="large" placeholder="Nombre de usuario">
                                <a-icon slot="prefix" type="user" />
                            </a-input>
                        </a-form-item>
                        <a-form-item fieldDecoratorId="password"
                            :fieldDecoratorOptions="{rules: [{ required: true, message: 'El campo contraseña es requerido', whitespace: true}]}">
                            <a-input size="large" placeholder="Contraseña" type="password">
                                <a-icon slot="prefix" type="lock" />
                            </a-input>
                        </a-form-item>
                        <div>
                            <a-checkbox :checked="true">Recuerdame</a-checkbox>
                            <a style="float: right">Recuperar contraseña</a>
                        </div>
                        <a-form-item>
                            <a-button :loading="logging" style="width: 100%;margin-top: 24px" size="large"
                                htmlType="submit" type="primary">Entrar</a-button>
                        </a-form-item>
                    </a-form>
                </a-card>
            </div>
        </div>
        <!-- <global-footer :link-list="linkList" :copyright="copyright" /> -->
    </div>
</template>

<script>
    // import GlobalFooter from '../../layouts/GlobalFooter'
    // import * as enviroment from '@/router/enviroment'

    export default {
        name: 'Login',
        //   components: {GlobalFooter},
        data() {
            return {
                logging: false,
                error: '',
                //   API: enviroment.default.URL_API,
            }
        },
        computed: {

        },
        methods: {
            onSubmit(e) {
                e.preventDefault();
                this.logging = true;
                this.$axios.post(`/api/login`, {
                    email: this.form.getFieldValue('email'),
                    password: this.form.getFieldValue('password')
                }).then((res) => {
                    this.logging = false;
                    const result = res.data;
                    const user = result.user;
                    if (result.status = 200) {
                        this.$store.commit('account/setuser', user[0])
                        localStorage.setItem("token", result.access_token);
                        this.$router.push('/')
                        this.$message.success('Bienvenid(a)', 3);
                    }
                }).catch(err => {
                    console.log(err);
                    this.$notification['error']({
                        message: 'Alerta',
                        description: 'Usuario o Contraseña incorrecta',
                    })
                    this.logging = false
                })
            }
        }
    }

</script>


<style lang="scss" scoped>
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: auto;
        background-size: 100%;

        .content {
            padding: 32px 0;
            flex: 1;

            @media (min-width: 768px) {
                padding: 112px 0 24px;
            }

            .top {
                text-align: center;

                .header {
                    height: 44px;
                    line-height: 44px;

                    a {
                        text-decoration: none;
                    }

                    .logo {
                        height: 44px;
                        vertical-align: top;
                        margin-right: 16px;
                    }

                    .title {
                        font-size: 33px;
                        font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                        font-weight: 600;
                        position: relative;
                        top: 2px;
                    }
                }

                .desc {
                    font-size: 14px;
                    margin-top: 12px;
                    margin-bottom: 40px;
                }
            }

            .login {
                width: 368px;
                margin: 0 auto;


                @media screen and (max-width: 576px) {
                    width: 95%;
                }

                @media screen and (max-width: 320px) {
                    .captcha-button {
                        font-size: 14px;
                    }
                }

                .icon {
                    font-size: 24px;
                    color: rgba(248, 242, 242, 0.739);
                    margin-left: 16px;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: color 0.3s;

                    &:hover {
                        color: #1890ff;
                    }
                }
            }
        }
    }

</style>
