<template>
    <div class="container">
           <a-button type="primary" :loading="loading">
            Actualizar
            </a-button>
         <a-table
            :columns="columns"
            :dataSource="data"
            :pagination="pagination"
            :loading="loading"
        >
        </a-table>
    </div>
</template>

<script>

    const columns = [
        {
        title: 'Name',
        dataIndex: 'name',
        sorter: true,
        width: '20%',
        scopedSlots: { customRender: 'name' },
        },
        {
        title: 'Gender',
        dataIndex: 'last',
        filters: [{ text: 'Male', value: 'male' }, { text: 'Female', value: 'female' }],
        width: '20%',
        },
        {
        title: 'Email',
        dataIndex: 'email',
        },
    ];

    export default {
        name: 'main-app',
        mounted() {
            this.index();
        },
        data() {
            return {
                data: [],
                pagination: {},
                loading: false,
                columns,
            };
        },
        methods: {
            index () {
                this.loading = true;
                axios.get('/clientes').then((res) =>{
                    this.data = res.data;
                    this.loading = false;
                });
            }
        }
    }
</script>
