<template>
  <a-dropdown style="display: inline-block; height: 100%; vertical-align: initial" >
    <span style="cursor: pointer">
      <a-avatar class="avatar" size="small" shape="circle" icon="user"/>
      <span>{{currUser}}</span>
    </span>
    <a-menu style="width: 150px" slot="overlay">
      <!-- <a-menu-item>
        <a-icon type="user" />
        <span>Perfil</span>
      </a-menu-item>
      <a-menu-item>
        <a-icon type="setting" />
        <span>Configuracion</span>
      </a-menu-item> -->
      <a-menu-divider />
       <a-menu-item @click="DestroyToken()">
        <!-- <a-menu-item> -->
        <router-link to="/login">
          <a-icon type="poweroff" />
          <span> Cerrar sesion</span>
        </router-link>
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</template>

<script>
import { getCustomClaims } from '../../router/helpers'
export default {
  name: 'HeaderAvatar',
  computed: {
    currUser () {
       return getCustomClaims().username
    }
  },
  methods: {
      DestroyToken() {
        localStorage.removeItem('token')
        localStorage.removeItem('username')
      }

  }
}
</script>

<style lang="scss" scoped>
  .avatar{
    margin: 20px 4px 20px 0;
    color: rgba(255, 5, 5, 0.85);
    background: #fafbfc;
    vertical-align: middle;
  }
</style>
