<template>

    <a-layout id="components-layout-demo-custom-trigger">
        <a-layout-sider :trigger="null" collapsible v-model="collapsed">
            <h1 class="logo text-center">{{ (!collapsed) ? 'Konecta' : 'K'}}</h1>
            <a-menu theme="dark" mode="inline">
                <a-menu-item key="1" v-if="user.roles[0].name === 'admin'">
                    <router-link to="usuarios">
                        <a-icon type="user" /> <span>Vendedores</span>
                    </router-link>
                </a-menu-item>
                <a-menu-item key="2">
                    <router-link to="clientes">
                        <a-icon type="user" /> <span>Clientes</span>
                    </router-link>
                </a-menu-item>
            </a-menu>
        </a-layout-sider>
        <a-layout>
            <a-layout-header style="background: #fff; padding: 0">
                <a-row type="flex" justify="space-between">
                    <a-col :span="12">
                        <a-icon class="trigger" :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                            @click="()=> collapsed = !collapsed" />
                    </a-col>
                    <a-col>
                        <a-button type="link" style="margin-riht: 16px" @click="logout()">Cerrar sesion</a-button>
                    </a-col>
                </a-row>
            </a-layout-header>
            <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
                <router-view />
            </a-layout-content>
        </a-layout>
    </a-layout>
</template>

<script>
    export default {
        name: 'MenuView',
        data() {
            return {
                result: [],
            };
        },
        computed: {

        },
        created() {
            this.user = this.$store.state.account.user;
        },
        watch: {

        },
        methods: {
            logout() {
                 this.$axios.post(`/api/logout`, this.client, {
                    'headers': {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                }).then(resp => {
                      this.$store.commit('account/setuser', null);
                        localStorage.removeItem('token');
                        this.$router.push('/login');
                        this.$message.success('Has cerrado sesion', 3);
                }).catch(err => {

                })
            }
        }
    }

</script>

<style scoped>
    #components-layout-demo-custom-trigger {
        height: -webkit-fill-available;
    }

    #components-layout-demo-custom-trigger .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    #components-layout-demo-custom-trigger .trigger:hover {
        color: #1890ff;
    }

    #components-layout-demo-custom-trigger .logo {
        color: white;
        margin: 16px;
    }

</style>
