<template>

    <div class="content">
        <div style="padding-bottom: 16px">
            <a-row type="flex" justify="space-between">
                <a-col :span="12">
                    <h4>Clientes</h4>
                </a-col>
                <a-col>
                    <template>
                        <a-auto-complete style="width: 300px" 
                            optionLabelProp="text"
                            @search="handleSearch" 
                            @select="onSelect" 
                            placeholder="Buscar...">
                            <template slot="dataSource">
                                <a-select-option v-for="item in result" :key="item.name">
                                    {{item.name}} <br>
                                    {{item.email}} 
                                    {{item.document}}
                                </a-select-option>
                                <!-- {{item.query}} -->
                            </template>
                            <a-input>
                                <a-icon slot="suffix" type="search" class="certain-category-icon" />
                            </a-input>
                        </a-auto-complete>
                    </template>
                    <a-button type="primary" icon="plus" @click="showModal(0, null)">Registrar</a-button>
                    <a-button type="default" :loading="loading">
                        Actualizar
                    </a-button>
                </a-col>
            </a-row>
        </div>
        <!-- START: TABLE -->
        <a-table :columns="columns" :dataSource="dataSource" :loading="loading" :scroll="{ x: 1500, y: 300 }"
            style="background:rgba(0,0,0,0.90);">
            <a slot="action" slot-scope="value" href="javascript:;" style="text-align:left">
                <a-button type="default" shape="circle" icon="edit" @click="showModal(value.id, value)"></a-button>
                <a-popconfirm title="Esta Seguro？" @confirm="deleteClients(value.id)" @cancel="cancel" okText="Yes"
                    cancelText="No">
                    <a-icon slot="icon" type="question-circle-o" style="color: red" />
                    <a-button type="danger" shape="circle" icon="delete"></a-button>
                </a-popconfirm>

            </a>
        </a-table>
        <!-- END: TABLE -->
        <!-- START: modal -->
        <a-modal v-model="visible" :title="(client.id) ? 'Editar cliente' : 'Registrar cliente'" onOk="handleOk"
            @cancel="handleCancel" class="modal-lg" :footer="null" :maskClosable="false">
            <!-- {{client}} -->
            <!-- START: modal -->
            <a-form :form="client" @submit="handleSubmit" id="storeForm">
                <a-row :gutter="16">
                    <a-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <label name class="Labeltittle">Nombre:</label>
                        <a-form-item>
                            <a-input v-model="client.name" placeholder="" required />
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="16">
                    <a-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <label name class="Labeltittle">No. Docuemnto:</label>
                        <a-form-item>
                            <a-input v-model="client.document" placeholder="" />
                        </a-form-item>
                    </a-col>
                    <a-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <label name class="Labeltittle">E-mail:</label>
                        <a-form-item>
                            <a-input v-model="client.email" placeholder="" required />
                        </a-form-item>
                    </a-col>
                </a-row>
                <div style="text-align:right;" class="modalfoot">
                    <a-divider></a-divider>
                    <a-button type="primary" :loading="modalloading" html-type="submit">Guardar</a-button>
                    <a-button key="back" @click="handleCancel">Volver</a-button>
                </div>
            </a-form>
        </a-modal>
        <!-- END: modal -->
    </div>

</template>

<script>
    const formItemLayout = {
        labelCol: {
            span: 4
        },
        wrapperCol: {
            span: 8
        },
    }
    const columns = [{
            title: 'Nombre',
            dataIndex: 'name',
            key: 'name',
            textAlign: 'center',
            width: '150px'
        },
        {
            title: 'No. Documento',
            dataIndex: 'document',
            key: 'last',
            textAlign: 'document',
            width: '150px'
        },
        {
            title: 'Email',
            dataIndex: 'email',
            key: 'email',
            textAlign: 'center',
            width: '150px'
        },
        {
            title: 'Acciones',
            key: 'operation',
            fixed: 'right',
            width: 100,
            scopedSlots: {
                customRender: 'action'
            },
        }
    ]

    export default {
        name: 'Clients',
        components: {

        },
        data() {
            return {
                dataSource: [],
                result: [],
                AuthStr: `Bearer ${localStorage.getItem('token')}`,
                loading: false,
                modalloading: false,
                columns,
                search: '',
                visible: false,
                client: {
                    id: 0
                },
                form: this.$form.create(this)
            }
        },
        created() {
            this.getClients()
        },
        methods: {
            handleSearch(value) {
                let result;
                if (!value || value.indexOf('@') >= 0) {
                    result = [];
                } else {
                    let token = localStorage.getItem('token');
                    
                    this.$axios.post(`/api/client/search`, {
                        'headers': {
                            'Authorization': `Bearer ${localStorage.getItem('token')}`
                        },
                        'query': value
                    }).then(resp => {
                        console.log(resp.data)
                        result = resp.data
                        this.result = result;
                    }).catch(error => console.log(error))
                    .finally(() => this.loading = false)
                }
            },
            onSelect(value) {
                this.dataSource = this.result
                value = ''
            },
            getClients() {
                this.loading = true
                this.$axios.get('/api/client', {
                        'headers': {
                            'Authorization': `Bearer ${localStorage.getItem('token')}`
                        }
                    })
                    .then(resp => this.dataSource = resp.data)
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            },
            createClients() {
                this.modalloading = true;
                this.$axios.post(`/api/client`, this.client, {
                    'headers': {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                }).then(resp => {
                    this.modalloading = false;
                    this.getClients()
                    console.log(this.client)
                    this.NotificationPost('success', this.client)
                    this.handleCancel()
                    this.errors = []
                }).catch(err => {
                    this.modalloading = false;
                    const ev = err.response.data;
                    if (typeof ev.email != 'undefined') {
                        //this.NotificationError('error')
                        this.$notification['error']({
                            message: 'Alerta',
                            description: 'El correo esta repetido',
                        });
                    }
                    if (typeof ev.username != 'undefined') {
                        //this.NotificationError('error')
                        this.$notification['error']({
                            message: 'Alerta',
                            description: 'El cliente esta repetido',

                        })
                    }
                })
            },
            updateClients(id) {
                this.modalloading = true;
                this.$axios.put(`/api/client/` + (this.client.id), this.client, {
                    'headers': {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                }).then(resp => {
                    this.modalloading = false;
                    this.errors = []
                    this.getClients()
                    this.NotificationPut('success', this.client)
                    this.handleCancel()
                }).catch(err => {
                    this.modalloading = false;
                    const ev = err.response.data;
                    if (typeof ev.email != 'undefined') {
                        //this.NotificationError('error')
                        this.$notification['error']({
                            message: 'Alerta',
                            description: 'El correo esta repetido',
                        });
                    }
                    if (typeof ev.username != 'undefined') {
                        //this.NotificationError('error')
                        this.$notification['error']({
                            message: 'Alerta',
                            description: 'El cliente esta repetido',

                        })
                    }
                })

            },
            deleteClients(id) {
                this.$axios.delete(`/api/client/` + (id), {
                    'headers': {
                        'Authorization': this.$data.AuthStr
                    }
                }).then(response => {
                    this.NotificationDelete('success')
                    this.getClients()
                })
            },
            NotificationPost(type, client) {
                //console.log(client)
                this.$notification[type]({
                    message: 'Guardado Exitosamente',
                    description: client.name + ' ' + client.document,
                });
            },
            NotificationPut(type, client) {
                this.$notification[type]({
                    message: 'Modificado Exitosamente',
                    description: client.name + ' ' + client.document,
                });
            },
            NotificationDelete(type) {
                this.$notification[type]({
                    message: 'Notificacion',
                    description: 'Eliminado Exitosamente',
                });
            },
            NotificationError(type) {
                this.$notification[type]({
                    message: 'Alerta',
                    description: 'Proceso no completado',
                });
            },
            confirm(e) {
                //this.$message.success('Click on Yes')
                //deleteClients(id)
            },
            cancel(e) {
                //console.log(e)
                //this.$message.error('Click on No')
            },
            onChange(date, dateString) {
                console.log(date, dateString);
            },
            handleConfirmBlur(e) {
                const value = e.target.value;
                this.confirmDirty = this.confirmDirty || !!value;
            },
            compareToFirstPassword(rule, value, callback) {
                const form = this.form;
                if (value && value !== form.getFieldValue('password')) {
                    callback('Two passwords that you enter is inconsistent!');
                } else {
                    callback();
                }
            },
            showModal(id, value) {
                if (id) {
                    this.client = JSON.parse(JSON.stringify(value))
                    //this.client.birthdate = new Date()
                }
                this.visible = true
            },
            handleOk(e) {
                this.loading = true
            },
            handleCancel(e) {
                this.client = {
                    id: 0
                }
                this.visible = false
            },
            handleSubmit(e) {
                e.preventDefault()
                if (this.client.id) {
                    console.log("entro modificar")
                    this.la
                    this.updateClients()
                } else {
                    console.log("entro registrar")
                    this.createClients()
                }

            },
            handleConfirmBlur(e) {
                const value = e.target.value
                this.confirmDirty = this.confirmDirty || !!value
            },
        }
    }

</script>

<style lang='scss'>
    .modal-lg {
        width: 600px !important;
        top: 20px !important;
        border-radius: 40px !important;
        color: white;
    }

</style>
